body{
    background-color: #f2f2f2;
    margin:3px;
    padding: 7px; 
    border: 12px solid;
    width: 95%;
}

.gross{
padding-right: 2%; 
 font-family: cursive;
 padding-left: 2%;
}

.discount{
    padding: 12px;
}
.cart{
    box-shadow: 2px 2px lightblue;
    width:  190px;  
    /* border: 2px solid; */
    border-radius: 23px;
    text-align: center;


}



.out{
    box-shadow: 2px 2px lightblue;
    width: 190px;
    /* border: 2px solid; */
    flex-wrap: wrap;
    border-radius: 23px;
    text-align: center;


}
.pa{
    /* text-align: center; */
    margin-left: 74px;
    
}

.pant:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
    /* border: 3px solid; */
}

.cart:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
     /* border: 3px solid; */
}

.out:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
    /* border: 3px solid; */
}


  

.add{
    padding-top: 48px;
    font-family: cursive;
    padding-bottom: 44px;
    border-radius: 23px;
    /* border: 12px solid; */
    flex-wrap: wrap;
}


.MenuWrap {
    width: 95%;
    background-color: #f2f2f2;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 17px 0;
   }
   .ListItem,
   .LastItem {
    color: #161313;
    text-decoration: none;
   }
   .ListItem {
    margin-right: 1rem;
   }
   .LastItem {
    margin-left: auto;
   }

   .color{
    flex-wrap: wrap;
    display: flex;
    width: 111px;
    justify-content:space-between;
   }

   .S{
    padding-top: 7px;
    width: 32px;
    box-shadow: 2px 2px lightblue;
   }
  
    
   .XL{
    padding-top: 7px;
    width: 32px;
    box-shadow: 2px 2px lightblue;
  }

   .L{
    box-shadow: 2px 2px lightblue;
    padding-top: 7px;
    width: 32px;
    /* border: solid 2px;   */
    text-align: center;
  }

   .size{
    padding-top: 12px;
    font-family: cursive;
    /* border: solid 2px; */
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 16px;
    width: 111px;
    justify-content:space-between;
    }


.Parent-container{
    display: flex;
    width: 1px;
}

/* @media only screen and (max-width:500px) {
    .menu,.main,.right {
        width:100%
    }
} */

.four-image img{
    border-radius: 32px;
    width: 147px;
    padding: 21px;
    box-shadow: 2px 2px lightblue;

    /* border: 13px solid; */
    
}

.center-image img{
    width: 590px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    padding-top: 34px;
    /* border: 13px solid; */

}


.color-box{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: #3357FF; */
    /* border: 5px solid; */
color: #3357FF;
background-color: #3357FF;
}

.color-box1{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: 2px solid; */
    color: #25a819;
    background-color: #25a819;
}

.color-box2{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: 5px solid; */
    color: #0f1015;
background-color: #020307;
}


.discount-circle {
    width: 50px;
    height: 50px; 
    background-color: #ff6347; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.discount-text {
    font-size: 10px; 
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 1%;
   
}
.CenterMe {
    background-color: rgb(33, 31, 35);
    color: #d6c8c8;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    /* z-index: 1000; */
}

.guniversity{
    padding-top: 32px;
    padding-right: 159px;
    text-align: center;

}

.description{
    text-align: start;
    justify-content: space-evenly;
    padding-right: 21%;


}
.ava{
    font-family: cursive;
    /* border: 1px solid; */
    padding-right: 23px;
    flex-wrap: wrap;
    border: 1 solid;
}


.features{
    text-align: start;
    justify-content: space-evenly;
    margin: 1px;

}

    
   
.Sam{
    text-align: center;
    display: flex;
    margin: 5px;
    width: 96%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services{
    width: 74px;
    margin: 10px;
}

.sam{

        width: 300px;
}
    
.pant img{
        width: 235px;
        padding: 20px;
        box-shadow: 2px 2px lightblue;
        border-radius: 56px;
        /* border: 13px solid; */

        align-items: flex-end;
 }

.star-review{
    flex-wrap: wrap;
   width: 162px; 
   justify-content: space-evenly;
   padding-top: 12px;
   /* border: solid ; */
}


.subscribe {
    margin: 0 auto; 
    max-width: 400px; 
}

.email-input {
    padding: 10px; 
    width: 70%; 
    margin-right: 10px; 
    border: none; 
    border-radius: 5px;
}

.subscribe-button {
    padding: 10px 20px; 
    background-color: #ff6347;
    color: white; 
    border-radius: 5px; 
    margin-top: 15px;
}

.subscribe-button:hover {
    background-color: #ff4500; 
}



.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 1px 0; 
    position: relative; 
    bottom: 0;
    width: 100%; 

}

.footer-links {
    margin-right: 13px;
    /* margin-left: 1px; */
    margin-top: 70px;
  padding: 2px;  
  text-align: center;  
  font-size: 30px;  
    /* justify-content:space-between ; */
}

.fa-facebook {  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-twitter {  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-pinterest{  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-linkedin{  
    background: #333333;  
    color: white;
    margin: 6px; 
  
  }  


  .fa-instagram{  
    background: #333333;  
    color: white; 
    margin: 6px; 
  }  

.footer-item {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
}

.footer-item:hover {
    text-decoration: underline;
}

.ross{
    display: flex;
    flex-wrap: wrap;
    margin-left: 19px;
    margin-top: 22px;
    width: 69px;
    font-family: cursive;
    font-size: x-large;
}
.social{
    margin-left: 31px;
}

.cate1{
    margin-left: 2%;
    margin-right: 1%;
    width: 100px;
    align-items: center;
}

.customer1{
    margin-left: 4%;
    margin-right: 3%;
    width: 1px;
    align-items: center;
    width:232px ;
    /* display: flex; */
}

.cust1{
    margin-top: 12px;
    font-family: cursive;
    font-size: large; 
    /* display: flex; */
}

.customer{
    margin-left: 61px;
    /* margin-right: px; */
    width: 101px;
    align-items: center;
    width:210px ;
}

.cust{
    margin-top: 12px;
    font-family: cursive;
    font-size: large; 
}

 .cate{
    margin-top: 12px;
    font-family: cursive;
    font-size: large;
 }

.ex{
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
    width: 195px;
}

.copy{
    text-align: center;
    margin-left: 297px;
    padding-top: 30px;
}

.copy1{
    text-align: center;
    display: flex;
    margin-left: 323px;
   
}

.de{
    width: 300px;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    width: 313px;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
    
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

