body{
    position: relative;
}

.popup{
    width: 60%;
    display: flex;
    background-color: lightblue;
    top: 30%;
    position: fixed;
    left: 20%;
    box-shadow: 1px 1px 2px gray;

}

.product-details{
    width: 50%;
    padding: 20px;
    border: solid;

}

.product-details box-icon{
  float: right;
}

.product-image {

    width: 50%;
}

.product-image img {
    width: 100%;
    height: 100%;

}

.product-details h2{

    margin-top: 50px;
}

.product-details button{
    /* border-style: none; */
    padding: 20px 40px;
    width: 80%;
    background-color: rgb(91, 91, 57);
    color: rgb(30, 59, 84);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.Parent-container{
    display: flex;
    width: 1px;
} 

.four-image img{
    border-radius: 32px;
    width: 147px;
    padding: 21px;
    box-shadow: 2px 2px lightblue;

    /* border: 13px solid; */
    
}

.center-image img{
    width: 590px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    padding-top: 34px;
    /* border: 13px solid; */

}

.color{
    flex-wrap: wrap;
    display: flex;
    width: 111px;
    justify-content:space-between;
   }


.color-box{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: #3357FF; */
    /* border: 5px solid; */
color: #3357FF;
background-color: #3357FF;
}

.color-box1{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: 2px solid; */
    color: #25a819;
    background-color: #25a819;
}

.color-box2{
    width: 25px;  
    height: 25px; 
    margin:4px;  
    /* border: 5px solid; */
    color: #0f1015;
background-color: #020307;
}


.discount-circle {
    width: 50px;
    height: 50px; 
    background-color: #ff6347; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
} 

 .discount-text {
    font-size: 10px; 
}

.gross{
padding-right: 2%; 
 font-family: cursive;
 padding-left: 2%;
}


.discount{
    padding: 12px;
} 
.cart{
    box-shadow: 2px 2px lightblue;
    width:  190px;  
    /* border: 2px solid; */
    border-radius: 23px;
    text-align: center;


}



.out{
    box-shadow: 2px 2px lightblue;
    width: 190px;
    /* border: 2px solid; */
    flex-wrap: wrap;
    border-radius: 23px;
    text-align: center;


}
.pa{
    /* text-align: center; */
    margin-left: 74px;
    
}
.you{
    margin-bottom: 43px;
}

.pant:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
    /* border: 3px solid; */
}

.cart:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
     /* border: 3px solid; */
}

.out:hover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
    color: #6617c0;
    /* border: 3px solid; */
}


  

.add{
    padding-top: 48px;
    font-family: cursive;
    padding-bottom: 44px;
    border-radius: 23px;
    /* border: 12px solid; */
    flex-wrap: wrap;
}


.MenuWrap {
    background-color: indigo;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
   }
   .ListItem,
   .LastItem {
    color: #ebebeb;
    text-decoration: none;
   }
   .ListItem {
    margin-right: 1rem;
   }
   .LastItem {
    margin-left: auto;
   }

   .subscribe {
    margin: 0 auto; 
    max-width: 400px; 
}

.email-input {
    padding: 10px; 
    width: 70%; 
    margin-right: 10px; 
    border: none; 
    border-radius: 5px;
}

.subscribe-button {
    padding: 10px 20px; 
    background-color: #ff6347;
    color: white; 
    border-radius: 5px; 
    margin-top: 15px;
}

.subscribe-button:hover {
    background-color: #ff4500; 
}
.add{
    padding-top: 48px;
    font-family: cursive;
    padding-bottom: 44px;
    border-radius: 23px;
    /* border: 12px solid; */
    flex-wrap: wrap;
}


.guniversity{
    padding-top: 32px;
    padding-right: 159px;
    text-align: center;

}

.description{
    text-align: start;
    justify-content: space-evenly;
    padding-right: 21%;


}
.ava{
    font-family: cursive;
    /* border: 1px solid; */
    padding-right: 23px;
    flex-wrap: wrap;
    border: 1 solid;
}


.features{
    text-align: start;
    justify-content: space-evenly;
    margin: 1px;

}

    
   
.Sam{
    text-align: center;
    display: flex;
    margin: 5px;
    width: 96%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services{
    width: 74px;
    margin: 10px;
}



.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 1px 0; 
    position: relative; 
    bottom: 0;
    width: 100%; 

}

.footer-links {
    margin-right: 13px;
    /* margin-left: 1px; */
    margin-top: 70px;
  padding: 2px;  
  text-align: center;  
  font-size: 30px;  
    /* justify-content:space-between ; */
}

.fa-facebook {  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-twitter {  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-pinterest{  
    background: #333333;  
    color: white; 
    margin: 6px; 
 
  }  

  .fa-linkedin{  
    background: #333333;  
    color: white;
    margin: 6px; 
  
  }  


  .fa-instagram{  
    background: #333333;  
    color: white; 
    margin: 6px; 
  }  

.footer-item {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
}

.footer-item:hover {
    text-decoration: underline;
}

.ross{
    display: flex;
    flex-wrap: wrap;
    margin-left: 19px;
    margin-top: 22px;
    width: 69px;
    font-family: cursive;
    font-size: x-large;
}
.social{
    margin-left: 31px;
}

.cate1{
    margin-left: 2%;
    margin-right: 1%;
    width: 100px;
    align-items: center;
}

.customer1{
    margin-left: 4%;
    margin-right: 3%;
    width: 1px;
    align-items: center;
    width:232px ;
    /* display: flex; */
}

.cust1{
    margin-top: 12px;
    font-family: cursive;
    font-size: large; 
    /* display: flex; */
}

.customer{
    margin-left: 61px;
    /* margin-right: px; */
    width: 101px;
    align-items: center;
    width:210px ;
}

.cust{
    margin-top: 12px;
    font-family: cursive;
    font-size: large; 
}

 .cate{
    margin-top: 12px;
    font-family: cursive;
    font-size: large;
 }

 .ex{
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
    width: 195px;
}

.copy{
    text-align: center;
    margin-left: 297px;
    padding-top: 30px;
}

.copy1{
    text-align: center;
    display: flex;
    margin-left: 323px;
   
}

.de{
    width: 300px;
}

